<!--    /* ********||FOOTER SECTION START||******** *-->
<footer class="foot-sec bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-6">
                <div class="text-box">
                    <a href="index"><img class="img-fluid" src="assets/images/logo.png" title="logo" alt="..."></a>
                                <ul class="foot-item">
                                    <li class="item-content"><a href="#" class="btn-action"><i class="fal fa-phone-alt"></i>(800) 0236 523 425</a></li>
                                    <li class="item-content"><a href="#" class="btn-action"><i class="fal fa-envelope"></i>@info253.com</a></li>
                                    <li class="item-content"><a href="#" class="btn-action"><i class="fal fa-map-marker-alt"></i>My Company, 12/34 - West 21st Street, New York, USA</a></li>
                                </ul>
                            </div>
                <div class="icon-box">
                            <ul class="item-icon">
                                    <li class="item-bar"><a href="#" class="icon-btn"><i class="fab fa-facebook-f"></i></a></li>
                                    <li class="item-bar"><a href="#" class="icon-btn"><i class="fab fa-twitter"></i></a></li>
                                    <li class="item-bar"><a href="#" class="icon-btn"><i class="fab fa-vimeo-v"></i></a></li>
                                    <li class="item-bar"><a href="#" class="icon-btn"><i class="fab fa-whatsapp"></i></a></li>
                                    <li class="item-bar"><a href="#" class="icon-btn"><i class="fab fa-pinterest-p"></i></a></li>
                                </ul>
                            </div>
                        </div>
             <div class="col-lg-2 col-6">
            <div class="menu-box">
                        <h5 class="item-title">Categories</h5>
                    <ul class="menu-item">
                        <li class="item-nav"><a href="product-details" class="btn-nav">Men</a></li>
                        <li class="item-nav"><a href="#" class="btn-nav">Women</a></li>
                        <li class="item-nav"><a href="our-category" class="btn-nav">Accessories</a></li>
                        <li class="item-nav"><a href="product" class="btn-nav">Shoes</a></li>
                        <li class="item-nav"><a href="#" class="btn-nav">Denim</a></li>
                        <li class="item-nav"><a href="#" class="btn-nav">Dress</a></li>
                    </ul>
                </div>
        </div>
        <div class="col-lg-2 col-6">
            <div class="menu-box">
                        <h5 class="item-title">Infomation</h5>
                    <ul class="menu-item">
                        <li class="item-nav"><a href="aboutus" class="btn-nav">About Us</a></li>
                        <li class="item-nav"><a href="contact  " class="btn-nav">Contact Us</a></li>
                        <li class="item-nav"><a href="terms-conditions" class="btn-nav">Terms &amp; Conditions</a></li>
                        <li class="item-nav"><a href="#" class="btn-nav">Returns &amp; Exchanges</a></li>
                        <li class="item-nav"><a href="product" class="btn-nav">Shipping &amp; Delivery</a></li>
                        <li class="item-nav"><a href="privacy-policy" class="btn-nav">Privacy Policy</a></li>
                    </ul>
                    </div>
        </div>
        <div class="col-lg-2 col-6">
            <div class="menu-box">
                        <h5 class="item-title">Useful links</h5>
                    <ul class="menu-item">
                        <li class="item-nav"><a href="#" class="btn-nav">Store Location</a></li>
                        <li class="item-nav"><a href="#" class="btn-nav">Latest News</a></li>
                        <li class="item-nav"><a href="#" class="btn-nav">Size Guide</a></li>
                        <li class="item-nav"><a href="#" class="btn-nav">Track My Order</a></li>
                        <li class="item-nav"><a href="#" class="btn-nav">Special</a></li>
                        <li class="item-nav"><a href="#" class="btn-nav">Help</a></li>
                    </ul>
                </div>
        </div>

            <div class="col-lg-3 col-md-6 col-12">
                <div class="menu-box">
                        <h5 class="item-title">Newsletter Signup</h5>
                            <div class="item-text">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            </div>
                         
                   <form class="emil-box">
                    <div class="form-group d-flex">
                        <input type="email" class="form-control" placeholder="Your email address" name="">
                          <button type="submit" class="sub-btn">Subscribe</button>
                    </div>
                    </form>
                </div>
                        </div>
                    </div>
                </div>
        </footer>
<!--    /* ********||  FOOTER SECTION END||******** *-->
<!--    /* ********||  COPY RIGHT SECTION START||******** *-->
<section class="copy-right bg-gray">
    <div class="container">
            <div class="row">
            <div class="col-lg-12">
                    <div class="text-box">
                    <h6>© Copyright clearsquare 2021 • All rights reserved</h6>
                </div>
                </div>
        </div>
    </div>
</section>



<!--  ********|| MODALS STARTS ||********  -->
<div class="login-modal">
<div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="signupModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-body">
                <div class="sec-authentication">

                    <div class="authentication-container">
                        <div class="image-container">
                            <div class="iamge-wrap">
                                <img src="assets/images/login.jpg" alt="" />
                            </div>
                        </div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i class="fal fa-times"></i>
                        </button>

                        <div class="sign-in-inner">
                            <div class="authentication-box sign-in">
                                <div class="box-header">
                                    <div class="title">Login</div>
                                    <div class="sub-title" >Don’t have an account? <a href="javascript:void(0)"
                                            class="signup-btn">SignUp</a></div>
                                </div>
                                <div class="form-wrap">
                                    <form>
                                        <div class="custom-form-group">
                                            <div class="control-label required">Username / Email</div>
                                            <input type="email" class="form-control" placeholder="Username / Email Address">
                                        </div>
                                        <div class="custom-form-group">
                                            <div class="control-label required">Password</div>
                                            <div class="input-wrap">
                                                <input type="password" class="form-control" placeholder="Password">
                                                <a href="" class="password-icon"></a>
                                            </div>

                                        </div>
                                        <div class="authentication-attr">
                                            <div class="custom-checkbox">
                                                <input type="checkbox" class="custom-checkbox-input" name="checkbox-01">
                                                <div class="custom-checkbox-label">Remember Me</div>
                                            </div>
                                            <a href="javascript:void(0)" class="btn-fogot-password">Forgot
                                                Password ?</a>
                                        </div>
                                        <div class="btn-wrap d-flex align-items-center">
                                            <a href="javascript:void(0)" class="action-btn"><i
                                                    class="fas fa-fw fa-sign-in-alt mr-2"></i>Login</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="sign-up-inner">
                            <div class="authentication-box sign-up">
                                <div class="box-header">
                                    <div class="title">Signup</div>
                                    <div class="sub-title">Already Registered? <a href="javascript:void(0)"
                                            class="Signin-btn">LogIn</a></div>
                                </div>
                                <div class="form-wrap">
                                    <form>
                                        <div class="custom-form-group">
                                            <div class="control-label required">Name</div>
                                            <input type="text" class="form-control" placeholder="Name">
                                        </div>
                                        <div class="custom-form-group">
                                            <div class="control-label required">Email</div>
                                            <input type="email" class="form-control" placeholder="Email">
                                        </div>
                                        <div class="form-row">
                                            <div class="col-md-6">
                                                <div class="custom-form-group">
                                                    <div class="control-label required">Password</div>
                                                    <div class="input-wrap">
                                                        <input type="password" class="form-control" placeholder="Password">
                                                        <a href="" class="password-icon"></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="custom-form-group">
                                                    <div class="control-label required">Confirm Password</div>
                                                    <div class="input-wrap">
                                                        <input type="password" class="form-control" placeholder="Confirm Password">
                                                        <a href="" class="password-icon"></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="authentication-attr">
                                            <div class="custom-checkbox">
                                                <input type="checkbox" class="custom-checkbox-input" name="checkbox-01">
                                                <div class="custom-checkbox-label">By clicking "SignUp," I agree
                                                    to the <a href="" class="terms-link">Terms & Conditions</a> and <a href=""
                                                        class="terms-link">Privacy Policy</a>.</div>
                                            </div>

                                        </div>
                                        <div class="btn-wrap d-flex align-items-center">
                                            <a href="javascript:void(0)" class="action-btn"><i
                                                    class="fas fa-fw fa-sign-in-alt mr-2"></i>SignUp</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        

                        <div class="forgot-inner">
                            <div class="authentication-box sign-up">
                                <div class="box-header">
                                    <div class="title">Forgot</div>
                                </div>
                                <div class="form-wrap">
                                    <form>
                                        <div class="custom-form-group">
                                            <div class="control-label required">Email</div>
                                            <input type="email" class="form-control" placeholder="Email">
                                        </div>
                                        <div class="btn-wrap d-flex align-items-center">
                                            <a href="javascript:void(0)" class="action-btn"><i
                                                    class="fas fa-fw fa-sign-in-alt mr-2"></i>Send</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</div>
<!-- ********|| MODALS ENDS ||******** -->


<!--    /* ********||  COPY RIGHT SECTION END||******** *-->







<!-- ********|| STYLESHEETS STARTS ||******** -->
<link href="assets/lib/bootstrap4/bootstrap.css" rel="stylesheet" type="text/css">
<link href="assets/css/animate.min.css" rel="stylesheet" type="text/css">
<link href="assets/lib/fontawesome5-all/css/all.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="assets/owl/owl3.css">
<!--
<link href="assets/lib/owl-carousel/owl.carousel.min.css" rel="stylesheet" type="text/css">
<link href="assets/lib/owl-carousel/owl.theme.min.css" rel="stylesheet" type="text/css">
-->
<link href="assets/lib/fancybox/jquery.fancybox.min.css" rel="stylesheet" type="text/css">	
<link href="assets/css/style.css" rel="stylesheet" type="text/css">
<link href="assets/css/style1.css" rel="stylesheet" type="text/css">
<link href="assets/css/responsive.css" rel="stylesheet" type="text/css">
<!-- ********|| STYLESHEETS ENDS ||******** -->
<!-- ********|| JAVASCRIPTS STARTS ||******** -->
<script type="text/javascript" src="assets/lib/jQuery/jquery-3.3.1.js"></script>
<script defer="defer" type="text/javascript" src="assets/lib/bootstrap4/popper.min.js"></script>
<script defer="defer" type="text/javascript" src="assets/lib/bootstrap4/bootstrap.js"></script>
<script src="assets/owl/owl-min.js"></script>
<!--<script defer="defer" type="text/javascript" src="assets/lib/owl-carousel/owl.carousel.min.js"></script>-->
<script defer="defer" type="text/javascript" src="assets/lib/fancybox/jquery.fancybox.min.js"></script>
<script defer="defer" type="text/javascript" src="assets/lib/videoplayer/plyr.js"></script>
<script defer="defer" type="text/javascript" src="assets/lib/wow/wow.min.js"></script>
<script defer="defer" type="text/javascript" src="assets/js/script.js"></script>
<script defer="defer" type="text/javascript" src="assets/js/products.js"></script>
<!-- ********|| JAVASCRIPTS ENDS ||******** -->
<!-- ********|| ONPAGE JAVASCRIPTS STARTS ||******** -->
<script defer="defer" type="text/javascript">
$(document).ready(function(){

});
</script>

<!-- ********|| ONPAGE JAVASCRIPTS ENDS ||******** -->
</body>
</html>