<%- include('common/header'); -%>


  <!-- ********|| ALL PAGE START ||******** -->
    <section class="all-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-box">
                        <span><a href="index.html" class="item-action"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Home</font></font></a></span>
                        <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> <i class="fal fa-chevron-right"></i> </font></font></span>
                        <span class="active"><a href="contact-us.html" class="item-action"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">About Us</font></font></a></span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ********|| ALL PAGE END ||******** -->

<!-- ********|| ABOUT US PAGE START ||******** -->
   <section class="about">
        <div class="container">
            <div class="row">
                 <div class="col-lg-6 flex-v-cen">
                     <div class="about-img">
                         <img class="img-fluid" src="assets/images/about.jpg">
                     </div> 
                </div>
                <div class="col-lg-6">
                    <div class="about-body">
                        <div class="title-box">
                            <h5 class="title">About The Store</h5>
                        </div>
                        <div class="text-box">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        </div>
                         <div class="text-box">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                        </div>
                        <div class="text-box">
                           It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        </div>
                    </div>
                </div>
            </div>
       </div>
    </section>
<!-- ********|| ABOUT US PAGE END ||******** -->
   
    
<%- include('common/footer'); -%>