<%- include('common/header'); -%>

  <!-- ********|| ALL PAGE START ||******** -->
    <section class="all-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-box">
                        <span><a href="/" class="item-action"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Home</font></font></a></span>
                        <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> <i class="fal fa-chevron-right"></i> </font></font></span>
                        <span class="active"><a href="contact-us.html" class="item-action"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Our Category</font></font></a></span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ********|| ALL PAGE END ||******** -->
<!-- ********|| CATEGORY SECTION START ||******** -->
   <section class="category-sec">
        <div class="container">
        <div class="row">
                <div class="col-lg-12">
                    <div class="title-box">
                        <h5 class="title">OUR CATEGORY</h5>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="item">
                        <div class="item-wrap">
                        <div class="item-img">
                            <img class="img-fluid" src="assets/images/cata-1.jpg">
                        </div>
                        <div class="item-content">
                            <div class="item-title">Short Straight Coat</div>
                            <div class="item-text">30% Off</div>
                            <div class="item-action"><a href="#" class="btn-action">Buy Now</a></div>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="item">
                        <div class="item-wrap">
                        <div class="item-img">
                            <img class="img-fluid" src="assets/images/cata-2.jpg">
                        </div>
                        <div class="item-content">
                            <div class="item-title">Camera Straight Coat</div>
                            <div class="item-text">35% Off</div>
                            <div class="item-action"><a href="#" class="btn-action">Buy Now</a></div>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="item">
                        <div class="item-wrap">
                        <div class="item-img">
                            <img class="img-fluid" src="assets/images/cata-3.jpg">
                        </div>
                        <div class="item-content">
                            <div class="item-title">Bags Straight Coat</div>
                            <div class="item-text">40% Off</div>
                            <div class="item-action"><a href="#" class="btn-action">Buy Now</a></div>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="item">
                        <div class="item-wrap">
                        <div class="item-img">
                            <img class="img-fluid" src="assets/images/cata-4.jpg">
                        </div>
                        <div class="item-content">
                            <div class="item-title">Shoes Straight Coat</div>
                            <div class="item-text">10% Off</div>
                            <div class="item-action"><a href="#" class="btn-action">Buy Now</a></div>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="item">
                        <div class="item-wrap">
                        <div class="item-img">
                            <img class="img-fluid" src="assets/images/cata-5.jpg">
                        </div>
                        <div class="item-content">
                            <div class="item-title">Watch Straight Coat</div>
                            <div class="item-text">15% Off</div>
                            <div class="item-action"><a href="#" class="btn-action">Buy Now</a></div>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="item">
                        <div class="item-wrap">
                        <div class="item-img">
                            <img class="img-fluid" src="assets/images/cata-6.jpg">
                        </div>
                        <div class="item-content">
                            <div class="item-title">Jewellery Coat</div>
                            <div class="item-text">20% Off</div>
                            <div class="item-action"><a href="#" class="btn-action">Buy Now</a></div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
       </div>
    </section> 
<!-- ********|| CATEGORY SECTION ENDS ||******** -->
   
    
<%- include('common/footer'); -%>
