<%- include('common/header'); -%>



<!-- ********|| BANNER START ||******** -->
    <section class="banner-sec">
        <div id=owldemo1 class="owl-carousel owl-theme">
            <div class="item">
                <div class="banner-box">
                        <img src="assets/images/banner-1.jpg" alt="">
                    <div class="banner-text">
                        <h1 class="banner-title">New Collection</h1>
                        <h5 class="banner-para">Don’t Let Just Anyone Into Your Home.</h5>
                        <div class="shp-btn"><a href="#" class="item">Shop Now</a></div>
                    </div>
                </div>
                </div>
            <div class="item">
                <div class="banner-box">
                        <img src="assets/images/banner-2.jpg" alt="">
                    <div class="banner-text">
                        <h1 class="banner-title">New Collection</h1>
                        <h5 class="banner-para">Don’t Let Just Anyone Into Your Home.</h5>
                        <div class="shp-btn"><a href="#" class="item">Shop Now</a></div>
                    </div>
                </div>
                </div>
            <div class="item">
                <div class="banner-box">
                        <img src="assets/images/banner-3.jpg" alt="">
                    <div class="banner-text">
                        <h1 class="banner-title">New Collection</h1>
                        <h5 class="banner-para">Don’t Let Just Anyone Into Your Home.</h5>
                        <div class="shp-btn"><a href="#" class="item">Shop Now</a></div>
                    </div>
                </div>
                </div>
            </div>
    </section>
<!-- ********|| BANNER ENDS ||******** -->
<!-- ********|| CATEGORY SECTION START ||******** -->
   <section class="category-sec">
        <div class="container">
        <div class="row">
                <div class="col-lg-12">
                    <div class="title-box">
                        <h5 class="title">OUR CATEGORY</h5>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="item">
                        <div class="item-wrap">
                        <div class="item-img">
                            <img class="img-fluid" src="assets/images/cata-1.jpg">
                        </div>
                        <div class="item-content">
                            <div class="item-title">Short Straight Coat</div>
                            <div class="item-text">30% Off</div>
                            <div class="item-action"><a href="#" class="btn-action">Buy Now</a></div>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="item">
                        <div class="item-wrap">
                        <div class="item-img">
                            <img class="img-fluid" src="assets/images/cata-2.jpg">
                        </div>
                        <div class="item-content">
                            <div class="item-title">Short Straight Coat</div>
                            <div class="item-text">30% Off</div>
                            <div class="item-action"><a href="#" class="btn-action">Buy Now</a></div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
       </div>
    </section> 
<!-- ********|| CATEGORY SECTION ENDS ||******** -->
<!-- ********|| OUR PRODUCT SECTION START ||******** -->
<section class="product-sec bg-gray">
            <div class="container">
            <div class="row">
                    <div class="col-lg-12">
                        <div class="title-box">
                        <h5 class="title">OUR PRODUCT</h5>
                    </div>
                    </div>
                </div>
<!--
                <div class="row">
                    <div class="col">
                        <div class="product-sec-tab">
                            <div class="custom-tab">
                                <div class="custom-tab-navigation" data-tab="customTab">
                                    <div class="item active">
                                        <a href="javascript:void(0)" class="item-tablink" data-tablink="tab-1">Shopping</a>
                                    </div>
                                    <div class="item">
                                        <a href="javascript:void(0)" class="item-tablink" data-tablink="tab-2">Watch</a>
                                    </div>
                                    <div class="item">
                                        <a href="javascript:void(0)" class="item-tablink" data-tablink="tab-3">Mobile</a>
                                    </div>
                                    <div class="item">
                                        <a href="javascript:void(0)" class="item-tablink" data-tablink="tab-4">T-Shirt</a>
                                    </div>
                                    <div class="item">
                                        <a href="javascript:void(0)" class="item-tablink" data-tablink="tab-5">Kids</a>
                                    </div>
                                </div>
                                <div class="custom-tab-content" data-tab-content="customTab">
                                    <div class="item active" data-tabcontent="tab-1">   
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
-->
              <div class="row">
                        <div class="col-lg-12">
                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  <li class="nav-item" role="presentation">
    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">
        <div class="item-bar">
            Shopping
        </div>
        </a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">
      <div class="item-bar">
            Watch
        </div>
      </a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">
      <div class="item-bar">
            Mobile
        </div>
      </a>
  </li>
                                <li class="nav-item" role="presentation">
    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">
      <div class="item-bar">
            T-Shirt
        </div>
      </a>
  </li>
                                <li class="nav-item" role="presentation">
    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">
      <div class="item-bar">
            Kids
        </div>
      </a>
  </li>
</ul>
<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
      <div class="product-list">
        <div class="row">
                                                <div class="col-xl-3 col-lg-4 col-md-6">
                                                    <div class="item-box">
                                                        <a href="product-details.html" class="item-inner">
                                                            <div class="item-img">
                                                                <img class="img-fluid" src="assets/images/product-1.jpg" alt="">
                                                            </div>
                                                            <div class="item-content">
                                                                <div class="item-title">Accumsan Fusce</div>
                                                                <div class="item-category">Publishing Soft</div>
                                                            <div class="item-price">
                                                                <div class="item-sprice">$ 70</div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                        <div class="item-actions">
                                                            <a href="cart.html" class="btn-cart">
                                                            <i class="far fa-fw fa-shopping-cart"></i>
                                                                <span>ADD TO CART</span>
                                                            </a>
                                                            <a href="#" class="btn-view" data-toggle="modal" data-target="#exampleModal">
                                                            <i class="far fa-fw fa-eye"></i>
                                                            </a>
                                                            <a href="wishlist.html" class="btn-wishlist">
                                                            <i class="far fa-fw fa-heart"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-lg-4 col-md-6">
                                                    <div class="item-box">
                                                        <a href="product-details.html" class="item-inner">
                                                            <div class="item-img">
                                                                <img class="img-fluid" src="assets/images/product-2.jpg" alt="">
                                                            </div>
                                                            <div class="item-content">
                                                                <div class="item-title">Accumsan Fusce</div>
                                                                <div class="item-category">Publishing Soft</div>
                                                            <div class="item-price">
                                                                <div class="item-sprice">$ 70</div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                        <div class="item-actions">
                                                            <a href="cart.html" class="btn-cart">
                                                            <i class="far fa-fw fa-shopping-cart"></i>
                                                                <span>ADD TO CART</span>
                                                            </a>
                                                            <a href="#" class="btn-view" data-toggle="modal" data-target="#exampleModal">
                                                            <i class="far fa-fw fa-eye"></i>
                                                            </a>
                                                            <a href="wishlist.html" class="btn-wishlist">
                                                            <i class="far fa-fw fa-heart"></i>
                                                            </a>
                                                        </div>
                                                </div>
                                                </div>
                                                <div class="col-xl-3 col-lg-4 col-md-6">
                                                    <div class="item-box">
                                                        <a href="product-details.html" class="item-inner">
                                                            <div class="item-img">
                                                                <img class="img-fluid" src="assets/images/product-3.jpg" alt="">
                                                            </div>
                                                            <div class="item-content">
                                                                <div class="item-title">Accumsan Fusce</div>
                                                                <div class="item-category">Publishing Soft</div>
                                                            <div class="item-price">
                                                                <div class="item-sprice">$ 70</div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                        <div class="item-actions">
                                                            <a href="cart.html" class="btn-cart">
                                                            <i class="far fa-fw fa-shopping-cart"></i>
                                                                <span>ADD TO CART</span>
                                                            </a>
                                                            <a href="#" class="btn-view" data-toggle="modal" data-target="#exampleModal">
                                                            <i class="far fa-fw fa-eye"></i>
                                                            </a>
                                                            <a href="wishlist.html" class="btn-wishlist">
                                                            <i class="far fa-fw fa-heart"></i>
                                                            </a>
                                                        </div>
                                                </div>
                                                </div>
                                                <div class="col-xl-3 col-lg-4 col-md-6">
                                                    <div class="item-box">
                                                        <a href="product-details.html" class="item-inner">
                                                            <div class="item-img">
                                                                <img class="img-fluid" src="assets/images/product-4.jpg" alt="">
                                                            </div>
                                                            <div class="item-content">
                                                                <div class="item-title">Accumsan Fusce</div>
                                                                <div class="item-category">Publishing Soft</div>
                                                            <div class="item-price">
                                                                <div class="item-sprice">$ 70</div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                        <div class="item-actions">
                                                            <a href="cart.html" class="btn-cart">
                                                            <i class="far fa-fw fa-shopping-cart"></i>
                                                                <span>ADD TO CART</span>
                                                            </a>
                                                            <a href="#" class="btn-view" data-toggle="modal" data-target="#exampleModal">
                                                            <i class="far fa-fw fa-eye"></i>
                                                            </a>
                                                            <a href="wishlist.html" class="btn-wishlist">
                                                            <i class="far fa-fw fa-heart"></i>
                                                            </a>
                                                        </div>
                                                </div>
                                            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                                                    <div class="item-box">
                                                        <a href="product-details.html" class="item-inner">
                                                            <div class="item-img">
                                                                <img class="img-fluid" src="assets/images/product-5.jpg" alt="">
                                                            </div>
                                                            <div class="item-content">
                                                                <div class="item-title">Accumsan Fusce</div>
                                                                <div class="item-category">Publishing Soft</div>
                                                            <div class="item-price">
                                                                <div class="item-sprice">$ 70</div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                        <div class="item-actions">
                                                            <a href="cart.html" class="btn-cart">
                                                            <i class="far fa-fw fa-shopping-cart"></i>
                                                                <span>ADD TO CART</span>
                                                            </a>
                                                            <a href="#" class="btn-view" data-toggle="modal" data-target="#exampleModal">
                                                            <i class="far fa-fw fa-eye"></i>
                                                            </a>
                                                            <a href="wishlist.html" class="btn-wishlist">
                                                            <i class="far fa-fw fa-heart"></i>
                                                            </a>
                                                        </div>
                                                </div>
                                            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                                                    <div class="item-box">
                                                        <a href="product-details.html" class="item-inner">
                                                            <div class="item-img">
                                                                <img class="img-fluid" src="assets/images/product-6.jpg" alt="">
                                                            </div>
                                                            <div class="item-content">
                                                                <div class="item-title">Accumsan Fusce</div>
                                                                <div class="item-category">Publishing Soft</div>
                                                            <div class="item-price">
                                                                <div class="item-sprice">$ 70</div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                        <div class="item-actions">
                                                            <a href="cart.html" class="btn-cart">
                                                            <i class="far fa-fw fa-shopping-cart"></i>
                                                                <span>ADD TO CART</span>
                                                            </a>
                                                            <a href="#" class="btn-view" data-toggle="modal" data-target="#exampleModal">
                                                            <i class="far fa-fw fa-eye"></i>
                                                            </a>
                                                            <a href="wishlist.html" class="btn-wishlist">
                                                            <i class="far fa-fw fa-heart"></i>
                                                            </a>
                                                        </div>
                                                </div>
                                            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                                                    <div class="item-box">
                                                        <a href="product-details.html" class="item-inner">
                                                            <div class="item-img">
                                                                <img class="img-fluid" src="assets/images/product-7.jpg" alt="">
                                                            </div>
                                                            <div class="item-content">
                                                                <div class="item-title">Accumsan Fusce</div>
                                                                <div class="item-category">Publishing Soft</div>
                                                            <div class="item-price">
                                                                <div class="item-sprice">$ 70</div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                        <div class="item-actions">
                                                            <a href="cart.html" class="btn-cart">
                                                            <i class="far fa-fw fa-shopping-cart"></i>
                                                                <span>ADD TO CART</span>
                                                            </a>
                                                            <a href="#" class="btn-view" data-toggle="modal" data-target="#exampleModal">
                                                            <i class="far fa-fw fa-eye"></i>
                                                            </a>
                                                            <a href="wishlist.html" class="btn-wishlist">
                                                            <i class="far fa-fw fa-heart"></i>
                                                            </a>
                                                        </div>
                                                </div>
                                            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                                                    <div class="item-box">
                                                        <a href="product-details.html" class="item-inner">
                                                            <div class="item-img">
                                                                <img class="img-fluid" src="assets/images/product-8.jpg" alt="">
                                                            </div>
                                                            <div class="item-content">
                                                                <div class="item-title">Accumsan Fusce</div>
                                                                <div class="item-category">Publishing Soft</div>
                                                            <div class="item-price">
                                                                <div class="item-sprice">$ 70</div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                        <div class="item-actions">
                                                            <a href="cart.html" class="btn-cart">
                                                            <i class="far fa-fw fa-shopping-cart"></i>
                                                                <span>ADD TO CART</span>
                                                            </a>
                                                            <a href="#" class="btn-view" data-toggle="modal" data-target="#exampleModal">
                                                            <i class="far fa-fw fa-eye"></i>
                                                            </a>
                                                            <a href="wishlist.html" class="btn-wishlist">
                                                            <i class="far fa-fw fa-heart"></i>
                                                            </a>
                                                        </div>
                                                </div>
                                            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                                                    <div class="item-box">
                                                        <a href="product-details.html" class="item-inner">
                                                            <div class="item-img">
                                                                <img class="img-fluid" src="assets/images/product-9.1.jpg" alt="">
                                                            </div>
                                                            <div class="item-content">
                                                                <div class="item-title">Accumsan Fusce</div>
                                                                <div class="item-category">Publishing Soft</div>
                                                            <div class="item-price">
                                                                <div class="item-sprice">$ 70</div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                        <div class="item-actions">
                                                            <a href="cart.html" class="btn-cart">
                                                            <i class="far fa-fw fa-shopping-cart"></i>
                                                                <span>ADD TO CART</span>
                                                            </a>
                                                            <a href="#" class="btn-view" data-toggle="modal" data-target="#exampleModal">
                                                            <i class="far fa-fw fa-eye"></i>
                                                            </a>
                                                            <a href="wishlist.html" class="btn-wishlist">
                                                            <i class="far fa-fw fa-heart"></i>
                                                            </a>
                                                        </div>
                                                </div>
                                            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                                                    <div class="item-box">
                                                        <a href="product-details.html" class="item-inner">
                                                            <div class="item-img">
                                                                <img class="img-fluid" src="assets/images/product-10.jpg" alt="">
                                                            </div>
                                                            <div class="item-content">
                                                                <div class="item-title">Accumsan Fusce</div>
                                                                <div class="item-category">Publishing Soft</div>
                                                            <div class="item-price">
                                                                <div class="item-sprice">$ 70</div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                        <div class="item-actions">
                                                            <a href="cart.html" class="btn-cart">
                                                            <i class="far fa-fw fa-shopping-cart"></i>
                                                                <span>ADD TO CART</span>
                                                            </a>
                                                            <a href="#" class="btn-view" data-toggle="modal" data-target="#exampleModal">
                                                            <i class="far fa-fw fa-eye"></i>
                                                            </a>
                                                            <a href="wishlist.html" class="btn-wishlist">
                                                            <i class="far fa-fw fa-heart"></i>
                                                            </a>
                                                        </div>
                                                </div>
                                            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                                                    <div class="item-box">
                                                        <a href="product-details.html" class="item-inner">
                                                            <div class="item-img">
                                                                <img class="img-fluid" src="assets/images/product-11.jpg" alt="">
                                                            </div>
                                                            <div class="item-content">
                                                                <div class="item-title">Accumsan Fusce</div>
                                                                <div class="item-category">Publishing Soft</div>
                                                            <div class="item-price">
                                                                <div class="item-sprice">$ 70</div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                        <div class="item-actions">
                                                            <a href="cart.html" class="btn-cart">
                                                            <i class="far fa-fw fa-shopping-cart"></i>
                                                                <span>ADD TO CART</span>
                                                            </a>
                                                            <a href="#" class="btn-view" data-toggle="modal" data-target="#exampleModal">
                                                            <i class="far fa-fw fa-eye"></i>
                                                            </a>
                                                            <a href="wishlist.html" class="btn-wishlist">
                                                            <i class="far fa-fw fa-heart"></i>
                                                            </a>
                                                        </div>
                                                </div>
                                            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                                                    <div class="item-box">
                                                        <a href="product-details.html" class="item-inner">
                                                            <div class="item-img">
                                                                <img class="img-fluid" src="assets/images/product-12.jpg" alt="">
                                                            </div>
                                                            <div class="item-content">
                                                                <div class="item-title">Accumsan Fusce</div>
                                                                <div class="item-category">Publishing Soft</div>
                                                            <div class="item-price">
                                                                <div class="item-sprice">$ 70</div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                        <div class="item-actions">
                                                            <a href="cart.html" class="btn-cart">
                                                            <i class="far fa-fw fa-shopping-cart"></i>
                                                                <span>ADD TO CART</span>
                                                            </a>
                                                            <a href="#" class="btn-view" data-toggle="modal" data-target="#exampleModal">
                                                            <i class="far fa-fw fa-eye"></i>
                                                            </a>
                                                            <a href="wishlist.html" class="btn-wishlist">
                                                            <i class="far fa-fw fa-heart"></i>
                                                            </a>
                                                        </div>
                                                </div>
                                            </div>
                                        </div>
      </div>
      
    </div>
  <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
          <div class="product-list">
        <div class="row">
                                                <div class="col-xl-3 col-lg-4 col-md-6">
                                                    <div class="item-box">
                                                        <a href="product-details.html" class="item-inner">
                                                            <div class="item-img">
                                                                <img class="img-fluid" src="assets/images/product-1.jpg" alt="">
                                                            </div>
                                                            <div class="item-content">
                                                                <div class="item-title">Accumsan Fusce</div>
                                                                <div class="item-category">Publishing Soft</div>
                                                            <div class="item-price">
                                                                <div class="item-sprice">$ 70</div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                        <div class="item-actions">
                                                            <a href="cart.html" class="btn-cart">
                                                            <i class="far fa-fw fa-shopping-cart"></i>
                                                                <span>ADD TO CART</span>
                                                            </a>
                                                            <a href="#" class="btn-view" data-toggle="modal" data-target="#exampleModal">
                                                            <i class="far fa-fw fa-eye"></i>
                                                            </a>
                                                            <a href="wishlist.html" class="btn-wishlist">
                                                            <i class="far fa-fw fa-heart"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-lg-4 col-md-6">
                                                    <div class="item-box">
                                                        <a href="product-details.html" class="item-inner">
                                                            <div class="item-img">
                                                                <img class="img-fluid" src="assets/images/product-2.jpg" alt="">
                                                            </div>
                                                            <div class="item-content">
                                                                <div class="item-title">Accumsan Fusce</div>
                                                                <div class="item-category">Publishing Soft</div>
                                                            <div class="item-price">
                                                                <div class="item-sprice">$ 70</div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                        <div class="item-actions">
                                                            <a href="cart.html" class="btn-cart">
                                                            <i class="far fa-fw fa-shopping-cart"></i>
                                                                <span>ADD TO CART</span>
                                                            </a>
                                                            <a href="#" class="btn-view" data-toggle="modal" data-target="#exampleModal">
                                                            <i class="far fa-fw fa-eye"></i>
                                                            </a>
                                                            <a href="wishlist.html" class="btn-wishlist">
                                                            <i class="far fa-fw fa-heart"></i>
                                                            </a>
                                                        </div>
                                                </div>
                                                </div>
                                                <div class="col-xl-3 col-lg-4 col-md-6">
                                                    <div class="item-box">
                                                        <a href="product-details.html" class="item-inner">
                                                            <div class="item-img">
                                                                <img class="img-fluid" src="assets/images/product-3.jpg" alt="">
                                                            </div>
                                                            <div class="item-content">
                                                                <div class="item-title">Accumsan Fusce</div>
                                                                <div class="item-category">Publishing Soft</div>
                                                            <div class="item-price">
                                                                <div class="item-sprice">$ 70</div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                        <div class="item-actions">
                                                            <a href="cart.html" class="btn-cart">
                                                            <i class="far fa-fw fa-shopping-cart"></i>
                                                                <span>ADD TO CART</span>
                                                            </a>
                                                            <a href="#" class="btn-view" data-toggle="modal" data-target="#exampleModal">
                                                            <i class="far fa-fw fa-eye"></i>
                                                            </a>
                                                            <a href="wishlist.html" class="btn-wishlist">
                                                            <i class="far fa-fw fa-heart"></i>
                                                            </a>
                                                        </div>
                                                </div>
                                                </div>
                                                <div class="col-xl-3 col-lg-4 col-md-6">
                                                    <div class="item-box">
                                                        <a href="product-details.html" class="item-inner">
                                                            <div class="item-img">
                                                                <img class="img-fluid" src="assets/images/product-4.jpg" alt="">
                                                            </div>
                                                            <div class="item-content">
                                                                <div class="item-title">Accumsan Fusce</div>
                                                                <div class="item-category">Publishing Soft</div>
                                                            <div class="item-price">
                                                                <div class="item-sprice">$ 70</div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                        <div class="item-actions">
                                                            <a href="cart.html" class="btn-cart">
                                                            <i class="far fa-fw fa-shopping-cart"></i>
                                                                <span>ADD TO CART</span>
                                                            </a>
                                                            <a href="#" class="btn-view" data-toggle="modal" data-target="#exampleModal">
                                                            <i class="far fa-fw fa-eye"></i>
                                                            </a>
                                                            <a href="wishlist.html" class="btn-wishlist">
                                                            <i class="far fa-fw fa-heart"></i>
                                                            </a>
                                                        </div>
                                                </div>
                                            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                                                    <div class="item-box">
                                                        <a href="product-details.html" class="item-inner">
                                                            <div class="item-img">
                                                                <img class="img-fluid" src="assets/images/product-5.jpg" alt="">
                                                            </div>
                                                            <div class="item-content">
                                                                <div class="item-title">Accumsan Fusce</div>
                                                                <div class="item-category">Publishing Soft</div>
                                                            <div class="item-price">
                                                                <div class="item-sprice">$ 70</div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                        <div class="item-actions">
                                                            <a href="cart.html" class="btn-cart">
                                                            <i class="far fa-fw fa-shopping-cart"></i>
                                                                <span>ADD TO CART</span>
                                                            </a>
                                                            <a href="#" class="btn-view" data-toggle="modal" data-target="#exampleModal">
                                                            <i class="far fa-fw fa-eye"></i>
                                                            </a>
                                                            <a href="wishlist.html" class="btn-wishlist">
                                                            <i class="far fa-fw fa-heart"></i>
                                                            </a>
                                                        </div>
                                                </div>
                                            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                                                    <div class="item-box">
                                                        <a href="product-details.html" class="item-inner">
                                                            <div class="item-img">
                                                                <img class="img-fluid" src="assets/images/product-6.jpg" alt="">
                                                            </div>
                                                            <div class="item-content">
                                                                <div class="item-title">Accumsan Fusce</div>
                                                                <div class="item-category">Publishing Soft</div>
                                                            <div class="item-price">
                                                                <div class="item-sprice">$ 70</div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                        <div class="item-actions">
                                                            <a href="cart.html" class="btn-cart">
                                                            <i class="far fa-fw fa-shopping-cart"></i>
                                                                <span>ADD TO CART</span>
                                                            </a>
                                                            <a href="#" class="btn-view" data-toggle="modal" data-target="#exampleModal">
                                                            <i class="far fa-fw fa-eye"></i>
                                                            </a>
                                                            <a href="wishlist.html" class="btn-wishlist">
                                                            <i class="far fa-fw fa-heart"></i>
                                                            </a>
                                                        </div>
                                                </div>
                                            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                                                    <div class="item-box">
                                                        <a href="product-details.html" class="item-inner">
                                                            <div class="item-img">
                                                                <img class="img-fluid" src="assets/images/product-7.jpg" alt="">
                                                            </div>
                                                            <div class="item-content">
                                                                <div class="item-title">Accumsan Fusce</div>
                                                                <div class="item-category">Publishing Soft</div>
                                                            <div class="item-price">
                                                                <div class="item-sprice">$ 70</div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                        <div class="item-actions">
                                                            <a href="cart.html" class="btn-cart">
                                                            <i class="far fa-fw fa-shopping-cart"></i>
                                                                <span>ADD TO CART</span>
                                                            </a>
                                                            <a href="#" class="btn-view" data-toggle="modal" data-target="#exampleModal">
                                                            <i class="far fa-fw fa-eye"></i>
                                                            </a>
                                                            <a href="wishlist.html" class="btn-wishlist">
                                                            <i class="far fa-fw fa-heart"></i>
                                                            </a>
                                                        </div>
                                                </div>
                                            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                                                    <div class="item-box">
                                                        <a href="product-details.html" class="item-inner">
                                                            <div class="item-img">
                                                                <img class="img-fluid" src="assets/images/product-8.jpg" alt="">
                                                            </div>
                                                            <div class="item-content">
                                                                <div class="item-title">Accumsan Fusce</div>
                                                                <div class="item-category">Publishing Soft</div>
                                                            <div class="item-price">
                                                                <div class="item-sprice">$ 70</div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                        <div class="item-actions">
                                                            <a href="cart.html" class="btn-cart">
                                                            <i class="far fa-fw fa-shopping-cart"></i>
                                                                <span>ADD TO CART</span>
                                                            </a>
                                                            <a href="#" class="btn-view" data-toggle="modal" data-target="#exampleModal">
                                                            <i class="far fa-fw fa-eye"></i>
                                                            </a>
                                                            <a href="wishlist.html" class="btn-wishlist">
                                                            <i class="far fa-fw fa-heart"></i>
                                                            </a>
                                                        </div>
                                                </div>
                                            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                                                    <div class="item-box">
                                                        <a href="product-details.html" class="item-inner">
                                                            <div class="item-img">
                                                                <img class="img-fluid" src="assets/images/product-9.1.jpg" alt="">
                                                            </div>
                                                            <div class="item-content">
                                                                <div class="item-title">Accumsan Fusce</div>
                                                                <div class="item-category">Publishing Soft</div>
                                                            <div class="item-price">
                                                                <div class="item-sprice">$ 70</div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                        <div class="item-actions">
                                                            <a href="cart.html" class="btn-cart">
                                                            <i class="far fa-fw fa-shopping-cart"></i>
                                                                <span>ADD TO CART</span>
                                                            </a>
                                                            <a href="#" class="btn-view" data-toggle="modal" data-target="#exampleModal">
                                                            <i class="far fa-fw fa-eye"></i>
                                                            </a>
                                                            <a href="wishlist.html" class="btn-wishlist">
                                                            <i class="far fa-fw fa-heart"></i>
                                                            </a>
                                                        </div>
                                                </div>
                                            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                                                    <div class="item-box">
                                                        <a href="product-details.html" class="item-inner">
                                                            <div class="item-img">
                                                                <img class="img-fluid" src="assets/images/product-10.jpg" alt="">
                                                            </div>
                                                            <div class="item-content">
                                                                <div class="item-title">Accumsan Fusce</div>
                                                                <div class="item-category">Publishing Soft</div>
                                                            <div class="item-price">
                                                                <div class="item-sprice">$ 70</div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                        <div class="item-actions">
                                                            <a href="cart.html" class="btn-cart">
                                                            <i class="far fa-fw fa-shopping-cart"></i>
                                                                <span>ADD TO CART</span>
                                                            </a>
                                                            <a href="#" class="btn-view" data-toggle="modal" data-target="#exampleModal">
                                                            <i class="far fa-fw fa-eye"></i>
                                                            </a>
                                                            <a href="wishlist.html" class="btn-wishlist">
                                                            <i class="far fa-fw fa-heart"></i>
                                                            </a>
                                                        </div>
                                                </div>
                                            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                                                    <div class="item-box">
                                                        <a href="product-details.html" class="item-inner">
                                                            <div class="item-img">
                                                                <img class="img-fluid" src="assets/images/product-11.jpg" alt="">
                                                            </div>
                                                            <div class="item-content">
                                                                <div class="item-title">Accumsan Fusce</div>
                                                                <div class="item-category">Publishing Soft</div>
                                                            <div class="item-price">
                                                                <div class="item-sprice">$ 70</div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                        <div class="item-actions">
                                                            <a href="cart.html" class="btn-cart">
                                                            <i class="far fa-fw fa-shopping-cart"></i>
                                                                <span>ADD TO CART</span>
                                                            </a>
                                                            <a href="#" class="btn-view" data-toggle="modal" data-target="#exampleModal">
                                                            <i class="far fa-fw fa-eye"></i>
                                                            </a>
                                                            <a href="wishlist.html" class="btn-wishlist">
                                                            <i class="far fa-fw fa-heart"></i>
                                                            </a>
                                                        </div>
                                                </div>
                                            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                                                    <div class="item-box">
                                                        <a href="product-details.html" class="item-inner">
                                                            <div class="item-img">
                                                                <img class="img-fluid" src="assets/images/product-12.jpg" alt="">
                                                            </div>
                                                            <div class="item-content">
                                                                <div class="item-title">Accumsan Fusce</div>
                                                                <div class="item-category">Publishing Soft</div>
                                                            <div class="item-price">
                                                                <div class="item-sprice">$ 70</div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                        <div class="item-actions">
                                                            <a href="cart.html" class="btn-cart">
                                                            <i class="far fa-fw fa-shopping-cart"></i>
                                                                <span>ADD TO CART</span>
                                                            </a>
                                                            <a href="#" class="btn-view" data-toggle="modal" data-target="#exampleModal">
                                                            <i class="far fa-fw fa-eye"></i>
                                                            </a>
                                                            <a href="wishlist.html" class="btn-wishlist">
                                                            <i class="far fa-fw fa-heart"></i>
                                                            </a>
                                                        </div>
                                                </div>
                                            </div>
                                        </div>
      </div>
    </div>
  <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">...</div>
      <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">...</div>
      <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">...</div>
</div>
            </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="viw-btn"><a href="product.html" class="btn-action">VIEW ALL</a></div>
                        </div>
                    </div>
            </div>
    </section> 
<!-- ********|| OUR PRODUCT SECTION ENDS ||******** -->
<!-- ********|| TESTIMONIAL SECTION START ||******** -->
 <section class="testimonial-sec">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-box">
                        <h5 class="title">TESTIMONIAL</h5>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-6">
                    <div class="testimonial">
                        <div class="testimonial-inner">
                            <div class="testimonial-content">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                            </div>
                            <div class="testimonial-details">
                                <div class="testimonial-img">
                                    <img class="img-fluid" src="assets/images/team-3-part2.jpg">
                                </div>
                                <div class="testimonial-info">
                                    <div class="testimonial-name">
                                    ND.JONS
                                </div>
                                <div class="testimonial-designation">Manegar</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="testimonial">
                        <div class="testimonial-inner">
                            <div class="testimonial-content">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
                            </div>
                            <div class="testimonial-details">
                                <div class="testimonial-img">
                                    <img class="img-fluid" src="assets/images/team-1.jpg">
                                </div>
                                <div class="testimonial-info">
                                    <div class="testimonial-name">
                                    ND.JONS
                                </div>
                                <div class="testimonial-designation">Manegar</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>   
<!-- ********|| TESTIMONIAL SECTION ENDS ||******** -->
          <!--    /* ********|| SPONSAR PART START||******** *-->
        <section class="spon-sec">
            <div class="container">
                <div class="row">
                   <div class="col-lg-12">
                        <div id=owldemo2 class="owl-carousel owl-theme">
    <div class="item">
     <div class="img-box">
                            <img class="img-fluid" src="assets/images/spon-1.jpg">
                        </div>
    </div>
                            <div class="item">
     <div class="img-box">
                            <img class="img-fluid" src="assets/images/spon-2.jpg">
                        </div>
    </div>
                            <div class="item">
     <div class="img-box">
                            <img class="img-fluid" src="assets/images/spon-3.jpg">
                        </div>
    </div>
                            <div class="item">
     <div class="img-box">
                            <img class="img-fluid" src="assets/images/spon-4.jpg">
                        </div>
    </div>
                            <div class="item">
     <div class="img-box">
                            <img class="img-fluid" src="assets/images/spon-5.jpg">
                        </div>
    </div>
                            <div class="item">
     <div class="img-box">
                            <img class="img-fluid" src="assets/images/spon-6.jpg">
                        </div>
    </div>
     <div class="item">
     <div class="img-box">
                            <img class="img-fluid" src="assets/images/spon-7.jpg">
                        </div>
    </div>
</div>
                    </div>
                </div>
            </div>
    </section>
    
    <!--    /* ********|| SPONSAR PART END||******** *-->
    
    
    




<%- include('common/footer'); -%>