<%- include('common/header'); -%>
  <!-- ********|| ALL PAGE START ||******** -->
    <section class="all-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-box">
                        <span><a href="index.html" class="item-action"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Home</font></font></a></span>
                        <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> <i class="fal fa-chevron-right"></i> </font></font></span>
                        <span class="active"><a href="contact-us" class="item-action"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Login</font></font></a></span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ********|| ALL PAGE END ||******** -->
<!-- ********|| MY ACCOUNT PAGE START ||******** -->
    <section class="sec-account">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="account-content">
                    <div class="title-box">
                        <h5 class="title">Log In</h5>
                    </div>
                        <div class="form-content">
                            <form id="loginForm">
                                <div class="form-group">
								<div class="control-label required"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">E-mail</font></font></div>
								<input type="email" class="form-control" placeholder="" name="email">
							</div>
                                <div class="form-group">
								<div class="control-label required"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Password</font></font></div>
								<input type="password" class="form-control" placeholder="" name="password">
							</div>
                                <div class="form-group form-action">
								<button type="button" class="btn-form-submit login"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">login</font></font></button> 
								<a href="forgot.html" class="forgot-link"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Forgot your password?</font></font></a>
							</div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                      <div class="account-content">
                    <div class="title-box">
                        <h5 class="title">Register now</h5>
					</div>
                    <div class="form-content">
						<form id="signupForm">
							<div class="form-group">
								<div class="control-label required"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Last name</font></font></div>
								<input type="text" class="form-control" placeholder="" name="name">
							</div>
							<div class="form-group">
								<div class="control-label required"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">E-mail</font></font></div>
								<input type="email" class="form-control" placeholder="" name="email">
							</div>
							<div class="form-group">
								<div class="control-label required"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Password</font></font></div>
								<input type="password" class="form-control" name="password">
							</div>
							<div class="form-group form-action">
								<button type="button" class="btn-form-submit"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Register now</font></font></button> 
							</div>
						</form>
					</div>
                </div>
                </div>
          
            </div>
        </div>
    </section>
    
    
    
<!-- ********|| MY ACCOUNT PAGE END ||******** -->
   
<%- include('common/footer'); -%>