<%- include('common/header'); -%>
  <!-- ********|| ALL PAGE START ||******** -->
    <section class="all-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-box">
                        <span><a href="index.html" class="item-action"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Home</font></font></a></span>
                        <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> <i class="fal fa-chevron-right"></i> </font></font></span>
                        <span class="active"><a href="contact-us.html" class="item-action"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Privacy Policy</font></font></a></span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ********|| ALL PAGE END ||******** -->
 <!-- ********|| TERM START||*******-->
<section class="term-sec">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-box">
                        <h5 class="title">Privacy Policy</h5>
                    </div>
                </div>
            </div>
        <div class="row">
                <div class="col-lg-12">
                <div class="term-box">
                        <div class="term-para">
                        Additionally, Pinterest also states that it collects user location data from mobile devices, and if someone makes a purchase on Pinterest, payment and contact information - including an address and phone number - will be collected. If users buy products or services for others, Pinterest gathers their contact information and shipping details, too.
                    </div>
                    <div class="term-para">
                        Users may also give Pinterest permission to access information that is shared with other websites like Facebook and Twitter by linking their Pinterest account with them. This information would also include information about their friends and followers. The account settings have information about how much access Pinterest has to their users' data.
                    </div>
                    <div class="term-para">
                        In sum, a Privacy Policy is where you let your users know all about how you make sure their privacy is respected by your business practices.
                    </div>
                    <div class="term-head">
                        Why you Need a Privacy Policy
                    </div>
                    <div class="term-para">
                    Privacy is not a new concept. Humans have always desired privacy in their social as well as private lives. But the idea of privacy as a human right is a relatively modern phenomenon.
                    </div>
                    <div class="term-para">
                        Around the world, laws and regulations have been developed for the protection of data related to government, education, health, children, consumers, financial institutions, etc.
                    </div>
                     <div class="term-para">
                        Companies or websites that handle customer information are required to publish their Privacy Policies on their business websites. If you own a website, web app, mobile app or desktop app that collects or processes user data, you most certainly will have to post a Privacy Policy on your website (or give in-app access to the full Privacy Policy agreement).
                    </div>
                    <div class="term-para">
                        There are several reasons for a website to post its Privacy Policy agreement on its website.
                    </div>
                    <div class="term-para">
                        Here are some of the main reasons:
                    </div>
                    <ul>
                        <li>Required by the law</li>
                        <li>Required by third party services</li>
                        <li>Increases Transparency</li>
                    </ul>
                    <div class="term-para">
                        Let's take a look at each of these reasons in more depth.
                    </div>
                    <div class="term-para">
                        Parts of this website offer an opportunity for users to post and exchange opinions and information in certain areas of the website. Company Name does not filter, edit, publish or review Comments prior to their presence on the website. Comments do not reflect the views and opinions of Company Name,its agents and/or affiliates. Comments reflect the views and opinions of the person who post their views and opinions. To the extent permitted by applicable laws, Company Name shall not be liable for the Comments or for any liability, damages or expenses caused and/or suffered as a result of any use of and/or posting of and/or appearance of the Comments on this website.
                    </div>
                    <div class="term-head">
                    A Privacy Policy is Required by the Law
                    </div>
                    <ul>
                        <li>For individuals to feel comfortable sharing their personal information on the internet, there should be some sort of legal responsibility on businesses to protect that data and keep the users informed about the status and health of their information.</li>
                        <li>Countries around the world have realized the need to protect their citizens' data and privacy. Businesses and websites that collect and/or process customer information are required to publish and abide by a Privacy Policy agreement.</li>
                        <li>A majority of countries have already enacted laws to protect their users' data security and privacy. These laws require businesses to obtain explicit consent from users whose data they will store or process.</li>
                    </ul>
                     <div class="term-para">
                    For a business or a website that collects and processes user information in a certain region or country, it is very important to have complete knowledge of the data and privacy protection laws enforced in that region and the region your customers and end users are in. Non-compliance with these laws can result in hefty fines or even prosecution against the violator.
                    </div>
                     <div class="term-para">
                    In some cases, businesses have to follow laws specific to states or regulations specific to industries.
                    </div>
                    <div class="term-para">
                    For example, here's how General Motors complies with CalOPPA in the US by including a California-specific section in its Privacy Policy:
                    </div>
                    <div class="term-para">
                    General Motors informs its California users of their rights through its Privacy Policy as required by CalOPPA.
                    </div>
                    <div class="term-para">
                    While data protection and privacy laws differ from region to region, a Privacy Policy must comprehensively inform its users about how their data will be used.
                    </div>
                    <div class="term-para">
                    Whether your website is a self-help blog or a game hosted at Google Play, it is your responsibility to give your end users complete information about how any associated third-parties will collect and process their data and (if possible) to what purpose.
                    </div>
                    <div class="term-head">
                    A Privacy Policy is Required by Third Party Services
                    </div>
                    <div class="term-para">
                    Apart from governing laws, some websites like Apple, Amazon, and Google require website and app owners to post a Privacy Policy agreement if they use any of their services.
                    </div>
                    <div class="term-para">
                    Many websites and apps use in-page/in-app advertising by third parties to generate revenue. As these ads also collect user data, third parties require the websites or apps to ask their users' permission for sharing their personal data.
                    </div>
                    <div class="term-para">
                    For example, if you're using Google Analytics on your website, the Google Analytics Terms of Service requires that you post a Privacy Policy agreement. In addition to this, you must also disclose that you're using Google Analytics and some information about how it collects and processes data:
                    </div>
                    <div class="term-para">
                    If you are one of the organizations listed in paragraph 2 above and are interested in linking to our website, you must inform us by sending an e-mail to Company Name. Please include your name, your organization name, contact information as well as the URL of your site, a list of any URLs from which you intend to link to our Website, and a list of the URLs on our site to which you would like to link. Wait 2-3 weeks for a response.
                    </div>
                    <div class="term-para">
                    Some of the most popular third party services require website and app owners to post Privacy Policy agreements on their websites. Some of these services include:
                    </div>
                    <div class="term-para">
                    ANo use of Company Name's logo or other artwork will be allowed for linking absent a trademark license agreement.
                    </div>
                    <div class="term-head">
                       A Privacy Policy For Increased Transparency
                    </div>
                    <div class="term-para">
                    Companies whose business models revolve around handling sensitive customer information find it incredibly important to establish trust with their users. A clear and comprehensive Privacy Policy agreement that tells users exactly what information the company collects and what it does with that information inspires confidence in a business. It gives users a sense of security knowing how much control they have over their personal data under the conditions they sign up for.
                    </div>
                    <div class="term-para">
                    Your Privacy Policy agreement should inform your users about how your website or app handles their personal information. Your users must be also be informed about the reason for the collection of information, as well as how long their data will be stored on your servers.
                    </div>
                    <div class="term-para">
                    Even if you don't collect personal information, you should disclose this fact in a Privacy Policy. It helps with transparency because users expect to see a Privacy Policy. If you don't have one at all, users may assume you're collecting a lot of personal information and not disclosing it rather than not collecting any.
                    </div>
                    <div class="term-head">
                        Example of a Website Privacy Policy
                    </div>
                    <div class="term-para">
                    To be transparent with your users about what personal information you collect and what you do with it, you are required to publish a Privacy Policy agreement on your website or give in-app access to it.
                    </div>
                    <div class="term-para">
                    Websites usually post a link to the complete Privacy Policy agreement from the footer of the website, whereas apps generally add the Privacy Policy to an "About" or "Legal" menu.
                    </div>
                    <div class="term-para">
                    WAnother popular location for ecommerce store apps and websites is the checkout page, or account registration page if you don't have an ecommerce component but allow users to create accounts.
                    </div>
    
                    </div>
                </div>
            </div>
        </div>
      </section>
     <!-- ********|| TERM END||*******-->  
   
    
<%- include('common/footer'); -%>