<%- include('common/header'); -%>
  <!-- ********|| ALL PAGE START ||******** -->
    <section class="all-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-box">
                        <span><a href="index" class="item-action"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Home</font></font></a></span>
                            <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> <i class="fal fa-chevron-right"></i> </font></font></span>
                        <span class="active"><a href="#" class="item-action"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Products</font></font></a></span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ********|| ALL PAGE END ||******** -->

    <!-- ********|| PRODUCT SECTION START ||******** -->
    <section class="prod-sec pb-5">
        <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-4 col-md-4">
                        <div class="acco-box">
                        <div id="accordion">
  <div class="card">
    <div class="card-header ac-btn" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <i class="fas fa-bars"></i>
        <font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Categories</font></font>
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
                                <ul class="item-list">
                                    <li class="item-bar"><a href="#" class="btn-item">Man</a></li>
                                    <li class="item-bar"><a href="#" class="btn-item">Sweatshirt In Geometric</a></li>
                                    <li class="item-bar"><a href="#" class="btn-item">Mercury Tee</a></li>
                                    <li class="item-bar"><a href="#" class="btn-item">Blush Beanie</a></li>
                                    <li class="item-bar"><a href="#" class="btn-item">Women Black Pants</a></li>
                                    <li class="item-bar"><a href="#" class="btn-item">Cluse La Boheme Rose Gold</a></li>
                                    <li class="item-bar"><a href="#" class="btn-item">Short Sleeved Hoodie</a></li>
                                    <li class="item-bar"><a href="#" class="btn-item">Chill Candle</a></li>
                                    <li class="item-bar"><a href="#" class="btn-item">Sport Sneaker</a></li>
                                </ul>
                                </div>
                            </div>
                          </div>
                            </div>
                        </div>
                        <div class="side-product">
                            <div class="side-product-title">
                                <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Resent products</font></font>
                            </div>
                            <div class="side-product-list">
                                <a href="/product-details" class="item">
                                    <div class="item-img">
                                        <img class="img-fluid" src="assets/images/product-1.jpg">
                                    </div>
                                    <div class="item-content">
                                        <div class="item-title">
                                            <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Cluse La Boheme Rose Gold</font></font>
                                        </div>
                                        <div class="item-price"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">$ 80</font></font></div>
                                    </div>
                                </a>
                                <a href="product-details" class="item">
                                    <div class="item-img">
                                        <img class="img-fluid" src="assets/images/product-2.jpg">
                                    </div>
                                    <div class="item-content">
                                        <div class="item-title">
                                            <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Cluse La Boheme Rose Gold</font></font>
                                        </div>
                                        <div class="item-price"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">$ 80</font></font></div>
                                    </div>
                                </a>
                                <a href="product-details" class="item">
                                    <div class="item-img">
                                        <img class="img-fluid" src="assets/images/product-3.jpg">
                                    </div>
                                    <div class="item-content">
                                        <div class="item-title">
                                            <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Cluse La Boheme Rose Gold</font></font>
                                        </div>
                                        <div class="item-price"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">$ 80</font></font></div>
                                    </div>
                                </a>
                                <a href="product-details" class="item">
                                    <div class="item-img">
                                        <img class="img-fluid" src="assets/images/product-4.jpg">
                                    </div>
                                    <div class="item-content">
                                        <div class="item-title">
                                            <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Cluse La Boheme Rose Gold</font></font>
                                        </div>
                                        <div class="item-price"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">$ 80</font></font></div>
                                    </div>
                                </a>
                                <a href="product-details" class="item">
                                    <div class="item-img">
                                        <img class="img-fluid" src="assets/images/product-5.jpg">
                                    </div>
                                    <div class="item-content">
                                        <div class="item-title">
                                            <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Cluse La Boheme Rose Gold</font></font>
                                        </div>
                                        <div class="item-price"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">$ 80</font></font></div>
                                    </div>
                                </a>
                                <a href="product-details" class="item">
                                    <div class="item-img">
                                        <img class="img-fluid" src="assets/images/product-6.jpg">
                                    </div>
                                    <div class="item-content">
                                        <div class="item-title">
                                            <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Cluse La Boheme Rose Gold</font></font>
                                        </div>
                                        <div class="item-price"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">$ 80</font></font></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-8 col-md-8">
                          <div class="product-list">
                                    <div class="row">
                                                <div class="col-xl-4 col-lg-6 col-md-6">
                                                    <div class="item-box">
                                                        <a href="product-details" class="item-inner">
                                                            <div class="item-img">
                                                                <img class="img-fluid" src="assets/images/product-1.jpg" alt="">
                                                            </div>
                                                            <div class="item-content">
                                                                <div class="item-title">Accumsan Fusce</div>
                                                                <div class="item-category">Publishing Soft</div>
                                                            <div class="item-price">
                                                                <div class="item-sprice">$ 70</div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                        <div class="item-actions">
                                                            <a href="your-cart" class="btn-cart">
                                                            <i class="far fa-fw fa-shopping-cart"></i>
                                                                <span>ADD TO CART</span>
                                                            </a>
                                                            <a href="#" class="btn-view" data-toggle="modal" data-target="#exampleModal">
                                                            <i class="far fa-fw fa-eye"></i>
                                                            </a>
                                                            <a href="wishlist" class="btn-wishlist">
                                                            <i class="far fa-fw fa-heart"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-4 col-lg-6 col-md-6">
                                                    <div class="item-box">
                                                        <a href="product-details" class="item-inner">
                                                            <div class="item-img">
                                                                <img class="img-fluid" src="assets/images/product-2.jpg" alt="">
                                                            </div>
                                                            <div class="item-content">
                                                                <div class="item-title">Accumsan Fusce</div>
                                                                <div class="item-category">Publishing Soft</div>
                                                            <div class="item-price">
                                                                <div class="item-sprice">$ 70</div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                        <div class="item-actions">
                                                            <a href="your-cart" class="btn-cart">
                                                            <i class="far fa-fw fa-shopping-cart"></i>
                                                                <span>ADD TO CART</span>
                                                            </a>
                                                            <a href="#" class="btn-view" data-toggle="modal" data-target="#exampleModal">
                                                            <i class="far fa-fw fa-eye"></i>
                                                            </a>
                                                            <a href="wishlist" class="btn-wishlist">
                                                            <i class="far fa-fw fa-heart"></i>
                                                            </a>
                                                        </div>
                                                </div>
                                                </div>
                                                <div class="col-xl-4 col-lg-6 col-md-6">
                                                    <div class="item-box">
                                                        <a href="product-details" class="item-inner">
                                                            <div class="item-img">
                                                                <img class="img-fluid" src="assets/images/product-3.jpg" alt="">
                                                            </div>
                                                            <div class="item-content">
                                                                <div class="item-title">Accumsan Fusce</div>
                                                                <div class="item-category">Publishing Soft</div>
                                                            <div class="item-price">
                                                                <div class="item-sprice">$ 70</div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                        <div class="item-actions">
                                                            <a href="your-cart" class="btn-cart">
                                                            <i class="far fa-fw fa-shopping-cart"></i>
                                                                <span>ADD TO CART</span>
                                                            </a>
                                                            <a href="#" class="btn-view" data-toggle="modal" data-target="#exampleModal">
                                                            <i class="far fa-fw fa-eye"></i>
                                                            </a>
                                                            <a href="wishlist" class="btn-wishlist">
                                                            <i class="far fa-fw fa-heart"></i>
                                                            </a>
                                                        </div>
                                                </div>
                                                </div>
                                                <div class="col-xl-4 col-lg-6 col-md-6">
                                                    <div class="item-box">
                                                        <a href="product-details" class="item-inner">
                                                            <div class="item-img">
                                                                <img class="img-fluid" src="assets/images/product-4.jpg" alt="">
                                                            </div>
                                                            <div class="item-content">
                                                                <div class="item-title">Accumsan Fusce</div>
                                                                <div class="item-category">Publishing Soft</div>
                                                            <div class="item-price">
                                                                <div class="item-sprice">$ 70</div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                        <div class="item-actions">
                                                            <a href="your-cart" class="btn-cart">
                                                            <i class="far fa-fw fa-shopping-cart"></i>
                                                                <span>ADD TO CART</span>
                                                            </a>
                                                            <a href="#" class="btn-view" data-toggle="modal" data-target="#exampleModal">
                                                            <i class="far fa-fw fa-eye"></i>
                                                            </a>
                                                            <a href="wishlist" class="btn-wishlist">
                                                            <i class="far fa-fw fa-heart"></i>
                                                            </a>
                                                        </div>
                                                </div>
                                            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                                                    <div class="item-box">
                                                        <a href="product-details" class="item-inner">
                                                            <div class="item-img">
                                                                <img class="img-fluid" src="assets/images/product-5.jpg" alt="">
                                                            </div>
                                                            <div class="item-content">
                                                                <div class="item-title">Accumsan Fusce</div>
                                                                <div class="item-category">Publishing Soft</div>
                                                            <div class="item-price">
                                                                <div class="item-sprice">$ 70</div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                        <div class="item-actions">
                                                            <a href="your-cart" class="btn-cart">
                                                            <i class="far fa-fw fa-shopping-cart"></i>
                                                                <span>ADD TO CART</span>
                                                            </a>
                                                            <a href="#" class="btn-view" data-toggle="modal" data-target="#exampleModal">
                                                            <i class="far fa-fw fa-eye"></i>
                                                            </a>
                                                            <a href="wishlist" class="btn-wishlist">
                                                            <i class="far fa-fw fa-heart"></i>
                                                            </a>
                                                        </div>
                                                </div>
                                            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                                                    <div class="item-box">
                                                        <a href="product-details" class="item-inner">
                                                            <div class="item-img">
                                                                <img class="img-fluid" src="assets/images/product-6.jpg" alt="">
                                                            </div>
                                                            <div class="item-content">
                                                                <div class="item-title">Accumsan Fusce</div>
                                                                <div class="item-category">Publishing Soft</div>
                                                            <div class="item-price">
                                                                <div class="item-sprice">$ 70</div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                        <div class="item-actions">
                                                            <a href="your-cart" class="btn-cart">
                                                            <i class="far fa-fw fa-shopping-cart"></i>
                                                                <span>ADD TO CART</span>
                                                            </a>
                                                            <a href="#" class="btn-view" data-toggle="modal" data-target="#exampleModal">
                                                            <i class="far fa-fw fa-eye"></i>
                                                            </a>
                                                            <a href="wishlist" class="btn-wishlist">
                                                            <i class="far fa-fw fa-heart"></i>
                                                            </a>
                                                        </div>
                                                </div>
                                            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                                                    <div class="item-box">
                                                        <a href="product-details" class="item-inner">
                                                            <div class="item-img">
                                                                <img class="img-fluid" src="assets/images/product-7.jpg" alt="">
                                                            </div>
                                                            <div class="item-content">
                                                                <div class="item-title">Accumsan Fusce</div>
                                                                <div class="item-category">Publishing Soft</div>
                                                            <div class="item-price">
                                                                <div class="item-sprice">$ 70</div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                        <div class="item-actions">
                                                            <a href="your-cart" class="btn-cart">
                                                            <i class="far fa-fw fa-shopping-cart"></i>
                                                                <span>ADD TO CART</span>
                                                            </a>
                                                            <a href="#" class="btn-view" data-toggle="modal" data-target="#exampleModal">
                                                            <i class="far fa-fw fa-eye"></i>
                                                            </a>
                                                            <a href="wishlist" class="btn-wishlist">
                                                            <i class="far fa-fw fa-heart"></i>
                                                            </a>
                                                        </div>
                                                </div>
                                            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                                                    <div class="item-box">
                                                        <a href="product-details" class="item-inner">
                                                            <div class="item-img">
                                                                <img class="img-fluid" src="assets/images/product-8.jpg" alt="">
                                                            </div>
                                                            <div class="item-content">
                                                                <div class="item-title">Accumsan Fusce</div>
                                                                <div class="item-category">Publishing Soft</div>
                                                            <div class="item-price">
                                                                <div class="item-sprice">$ 70</div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                        <div class="item-actions">
                                                            <a href="your-cart" class="btn-cart">
                                                            <i class="far fa-fw fa-shopping-cart"></i>
                                                                <span>ADD TO CART</span>
                                                            </a>
                                                            <a href="#" class="btn-view" data-toggle="modal" data-target="#exampleModal">
                                                            <i class="far fa-fw fa-eye"></i>
                                                            </a>
                                                            <a href="wishlist" class="btn-wishlist">
                                                            <i class="far fa-fw fa-heart"></i>
                                                            </a>
                                                        </div>
                                                </div>
                                            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                                                    <div class="item-box">
                                                        <a href="product-details" class="item-inner">
                                                            <div class="item-img">
                                                                <img class="img-fluid" src="assets/images/product-9.1.jpg" alt="">
                                                            </div>
                                                            <div class="item-content">
                                                                <div class="item-title">Accumsan Fusce</div>
                                                                <div class="item-category">Publishing Soft</div>
                                                            <div class="item-price">
                                                                <div class="item-sprice">$ 70</div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                        <div class="item-actions">
                                                            <a href="your-cart" class="btn-cart">
                                                            <i class="far fa-fw fa-shopping-cart"></i>
                                                                <span>ADD TO CART</span>
                                                            </a>
                                                            <a href="#" class="btn-view" data-toggle="modal" data-target="#exampleModal">
                                                            <i class="far fa-fw fa-eye"></i>
                                                            </a>
                                                            <a href="wishlist" class="btn-wishlist">
                                                            <i class="far fa-fw fa-heart"></i>
                                                            </a>
                                                        </div>
                                                </div>
                                            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                                                    <div class="item-box">
                                                        <a href="product-details" class="item-inner">
                                                            <div class="item-img">
                                                                <img class="img-fluid" src="assets/images/product-10.jpg" alt="">
                                                            </div>
                                                            <div class="item-content">
                                                                <div class="item-title">Accumsan Fusce</div>
                                                                <div class="item-category">Publishing Soft</div>
                                                            <div class="item-price">
                                                                <div class="item-sprice">$ 70</div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                        <div class="item-actions">
                                                            <a href="your-cart" class="btn-cart">
                                                            <i class="far fa-fw fa-shopping-cart"></i>
                                                                <span>ADD TO CART</span>
                                                            </a>
                                                            <a href="#" class="btn-view" data-toggle="modal" data-target="#exampleModal">
                                                            <i class="far fa-fw fa-eye"></i>
                                                            </a>
                                                            <a href="wishlist" class="btn-wishlist">
                                                            <i class="far fa-fw fa-heart"></i>
                                                            </a>
                                                        </div>
                                                </div>
                                            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                                                    <div class="item-box">
                                                        <a href="product-details" class="item-inner">
                                                            <div class="item-img">
                                                                <img class="img-fluid" src="assets/images/product-11.jpg" alt="">
                                                            </div>
                                                            <div class="item-content">
                                                                <div class="item-title">Accumsan Fusce</div>
                                                                <div class="item-category">Publishing Soft</div>
                                                            <div class="item-price">
                                                                <div class="item-sprice">$ 70</div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                        <div class="item-actions">
                                                            <a href="your-cart" class="btn-cart">
                                                            <i class="far fa-fw fa-shopping-cart"></i>
                                                                <span>ADD TO CART</span>
                                                            </a>
                                                            <a href="#" class="btn-view" data-toggle="modal" data-target="#exampleModal">
                                                            <i class="far fa-fw fa-eye"></i>
                                                            </a>
                                                            <a href="wishlist" class="btn-wishlist">
                                                            <i class="far fa-fw fa-heart"></i>
                                                            </a>
                                                        </div>
                                                </div>
                                            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                                                    <div class="item-box">
                                                        <a href="product-details" class="item-inner">
                                                            <div class="item-img">
                                                                <img class="img-fluid" src="assets/images/product-12.jpg" alt="">
                                                            </div>
                                                            <div class="item-content">
                                                                <div class="item-title">Accumsan Fusce</div>
                                                                <div class="item-category">Publishing Soft</div>
                                                            <div class="item-price">
                                                                <div class="item-sprice">$ 70</div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                        <div class="item-actions">
                                                            <a href="your-cart" class="btn-cart">
                                                            <i class="far fa-fw fa-shopping-cart"></i>
                                                                <span>ADD TO CART</span>
                                                            </a>
                                                            <a href="#" class="btn-view" data-toggle="modal" data-target="#exampleModal">
                                                            <i class="far fa-fw fa-eye"></i>
                                                            </a>
                                                            <a href="wishlist" class="btn-wishlist">
                                                            <i class="far fa-fw fa-heart"></i>
                                                            </a>
                                                        </div>
                                                </div>
                                            </div>
                                        </div>
                              <div class="row">
					<div class="pagin-box">
												<a href="#" class="btn-more" id="loadMore" onclick="loadMore()"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Load More</font></font></a>
											</div>

				</div>
                            </div>
                    </div>
                </div>
            </div>
    
    </section>
<!-- ********|| PRODUCT SECTION END ||******** -->

    
<%- include('common/footer'); -%>