<%- include('common/header'); -%>
  <!-- ********|| ALL PAGE START ||******** -->
    <section class="all-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-box">
                        <span><a href="index" class="item-action"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Home</font></font></a></span>
                            <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> <i class="fal fa-chevron-right"></i> </font></font></span>
                        <span><a href="product" class="item-action"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Products</font></font></a></span>
                        <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> <i class="fal fa-chevron-right"></i> </font></font></span>
                        <span class="active"><a href="#" class="item-action"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Products Details</font></font></a></span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ********|| ALL PAGE END ||******** -->

    <!-- ********|| PRODUCT DETAILS SECTION START ||******** -->
    <section class="product-details">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-lg-6">
                    <div class="product-content">
                        <div class="product-image-content">
                            <div class="product-image-slider">
                                <a href="#" class="item">
                                    <img class="img-fluid" src="assets/images/product-15.jpg" alt="">
                                </a>
                                <a href="#" class="item">
                                    <img class="img-fluid" src="assets/images/product-15.jpg" alt="">
                                </a>
                            
                            </div>
                            <div class="product-image">
                            <img class="img-fluid" src="assets/images/product-15.jpg" alt="">
                        </div>
                        </div>
                        
                    </div>
                </div>
                <div class="col-md-8 col-lg-6">
                    <div class="product-content">
                        <div class="product-title">
                            <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Connect Infotech Ryzen 3200G</font></font>
                        </div>
                        <div class="product-price">
                            <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">$ 150</font></font>
                        </div>
                        <div class="product-meta">
						<div class="item">
							<div class="item-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Category:</font></font></div>
							<div class="item-data"><a href="#" class="cata-btn"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Gaming</font></font></a></div>
						</div>
												<div class="item">
							<div class="item-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Keywords:</font></font></div>
							<div class="item-data">
														</div>
													</div>
						<div class="item">
							<div class="item-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Mark:</font></font></div>
							<div class="item-data"><a href="#" class="cata-btn"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">SONY</font></font></a></div>
						</div>
					</div>
                        <div class="product-description">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.
                        </div>
                        <div class="product-option">
				        <a href="wishlist" class="btn-wishlist"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Add to wishlist</font></font></a>
				    </div>
                        <div class="product-action-wrap">
						<div class="product-quantity">
							<div class="quantity-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Amount:</font></font></div>
							<form class="quantity-spinner quantity">
								<button type="button" class="btn-quantity minus"><i class="far fa-fw fa-minus"></i></button>
								<input type="number" class="quantity-input qty text" placeholder="1" value="1" name="qty" id="qty" step="1" min="1" max="">
								<button type="button" class="btn-quantity plus"><i class="far fa-fw fa-plus"></i></button>
							</form>
						</div>
												<div class="product-actions">
							<a href="your-cart" class="btn-addtocart"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Add to Cart</font></font></a>
							<a href="my-account" class="btn-buynow"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Buy now</font></font></a>
						</div>
				    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ********|| PRODUCT DETAILS SECTION END ||******** -->
    
    
<!-- ********|| RELATED PRODUCT SECTION START ||******** -->
    <section class="related-sec">
        <div class="container">
        <div class="row">
                <div class="col-lg-12">
                    <div class="title-box">
                        <h5 class="title">Related products</h5>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
        <div id=owldemo3 class="owl-carousel owl-theme">
            <div class="item">
                    <div class="item-box">
                                        <a href="#" class="item-inner">
                                                            <div class="item-img">
                                                                <img class="img-fluid" src="assets/images/product-12.jpg" alt="">
                                                            </div>
                                                            <div class="item-content">
                                                                <div class="item-title">Accumsan Fusce</div>
                                                                <div class="item-category">Publishing Soft</div>
                                                            <div class="item-price">
                                                                <div class="item-sprice">$ 70</div>
                                                            </div>
                                                        </div>
                                                    </a>
                                        <div class="item-actions">
                                                            <a href="your-cart" class="btn-cart">
                                                            <i class="far fa-fw fa-shopping-cart"></i>
                                                                <span>ADD TO CART</span>
                                                            </a>
                                                            <a href="#" class="btn-view" data-toggle="modal" data-target="#exampleModal">
                                                            <i class="far fa-fw fa-eye"></i>
                                                            </a>
                                                            <a href="wishlist" class="btn-wishlist">
                                                            <i class="far fa-fw fa-heart"></i>
                                                            </a>
                                                        </div>
                                                </div>
                        </div>
               <div class="item">
                    <div class="item-box">
                                        <a href="product-details" class="item-inner">
                                                            <div class="item-img">
                                                                <img class="img-fluid" src="assets/images/product-11.jpg" alt="">
                                                            </div>
                                                            <div class="item-content">
                                                                <div class="item-title">Accumsan Fusce</div>
                                                                <div class="item-category">Publishing Soft</div>
                                                            <div class="item-price">
                                                                <div class="item-sprice">$ 70</div>
                                                            </div>
                                                        </div>
                                                    </a>
                                        <div class="item-actions">
                                                            <a href="your-cart" class="btn-cart">
                                                            <i class="far fa-fw fa-shopping-cart"></i>
                                                                <span>ADD TO CART</span>
                                                            </a>
                                                            <a href="#" class="btn-view" data-toggle="modal" data-target="#exampleModal">
                                                            <i class="far fa-fw fa-eye"></i>
                                                            </a>
                                                            <a href="wishlist" class="btn-wishlist">
                                                            <i class="far fa-fw fa-heart"></i>
                                                            </a>
                                                        </div>
                                                </div>
                        </div>
               <div class="item">
                    <div class="item-box">
                                        <a href="product-details" class="item-inner">
                                                            <div class="item-img">
                                                                <img class="img-fluid" src="assets/images/product-10.jpg" alt="">
                                                            </div>
                                                            <div class="item-content">
                                                                <div class="item-title">Accumsan Fusce</div>
                                                                <div class="item-category">Publishing Soft</div>
                                                            <div class="item-price">
                                                                <div class="item-sprice">$ 70</div>
                                                            </div>
                                                        </div>
                                                    </a>
                                        <div class="item-actions">
                                                            <a href="your-cart" class="btn-cart">
                                                            <i class="far fa-fw fa-shopping-cart"></i>
                                                                <span>ADD TO CART</span>
                                                            </a>
                                                            <a href="#" class="btn-view" data-toggle="modal" data-target="#exampleModal">
                                                            <i class="far fa-fw fa-eye"></i>
                                                            </a>
                                                            <a href="wishlist" class="btn-wishlist">
                                                            <i class="far fa-fw fa-heart"></i>
                                                            </a>
                                                        </div>
                                                </div>
                        </div>
               <div class="item">
                    <div class="item-box">
                                        <a href="product-details" class="item-inner">
                                                            <div class="item-img">
                                                                <img class="img-fluid" src="assets/images/product-9.jpg" alt="">
                                                            </div>
                                                            <div class="item-content">
                                                                <div class="item-title">Accumsan Fusce</div>
                                                                <div class="item-category">Publishing Soft</div>
                                                            <div class="item-price">
                                                                <div class="item-sprice">$ 70</div>
                                                            </div>
                                                        </div>
                                                    </a>
                                        <div class="item-actions">
                                                            <a href="your-cart" class="btn-cart">
                                                            <i class="far fa-fw fa-shopping-cart"></i>
                                                                <span>ADD TO CART</span>
                                                            </a>
                                                            <a href="#" class="btn-view" data-toggle="modal" data-target="#exampleModal">
                                                            <i class="far fa-fw fa-eye"></i>
                                                            </a>
                                                            <a href="wishlist" class="btn-wishlist">
                                                            <i class="far fa-fw fa-heart"></i>
                                                            </a>
                                                        </div>
                                                </div>
                        </div>
               <div class="item">
                    <div class="item-box">
                                        <a href="product-details" class="item-inner">
                                                            <div class="item-img">
                                                                <img class="img-fluid" src="assets/images/product-8.jpg" alt="">
                                                            </div>
                                                            <div class="item-content">
                                                                <div class="item-title">Accumsan Fusce</div>
                                                                <div class="item-category">Publishing Soft</div>
                                                            <div class="item-price">
                                                                <div class="item-sprice">$ 70</div>
                                                            </div>
                                                        </div>
                                                    </a>
                                        <div class="item-actions">
                                                            <a href="your-cart" class="btn-cart">
                                                            <i class="far fa-fw fa-shopping-cart"></i>
                                                                <span>ADD TO CART</span>
                                                            </a>
                                                            <a href="#" class="btn-view" data-toggle="modal" data-target="#exampleModal">
                                                            <i class="far fa-fw fa-eye"></i>
                                                            </a>
                                                            <a href="wishlist" class="btn-wishlist">
                                                            <i class="far fa-fw fa-heart"></i>
                                                            </a>
                                                        </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                    </section>
<!-- ********|| RELATED PRODUCT SECTION START ||******** -->
    

<%- include('common/footer'); -%>