<%- include('common/header'); -%>


   <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark"></h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">

             
              <!--<li class="breadcrumb-item">Home</li>
              <li class="breadcrumb-item active">Dashboard v1</li>-->
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

     
  </div>
   <!-- /.content-wrapper -->



 <%- include('common/footer'); -%>

 <!-- <%= msg %> -->

 <% if(msg.length>0){ %>
 <script>

    Command: toastr["success"]("<%= msg %>")
  
  toastr.options = {

       "closeButton": true,
       "debug": false,
       "newestOnTop": false,
       "progressBar": false,
       "positionClass": "toast-top-right",
       "preventDuplicates": false,
       "onclick": null,
       "showDuration": "300",
       "hideDuration": "1000",
       "timeOut": "3500",
       "extendedTimeOut": "1000",
       "showEasing": "swing",
       "hideEasing": "linear",
       "showMethod": "fadeIn",
       "hideMethod": "fadeOut"
 }

</script>

<% }  %>
